h1 {
color: red;
font-size: 200px;
}
img {
    transform: rotate(45deg);
    background-color: green;
}

.bacon {
    background-color: green;
}
.broccoli {
    background-color: red;
}
.circular {

  border-radius: 100%;
}
img:hover {
background-color:gold;
}

.moodeng {
    background-color: pink;
}

/* ID Selector */

#heading {

  color:blue;
}
